<div>
  <form [formGroup]="carForm" (ngSubmit)="submitForm()">
    <div class="row mb-3">
      <div class="col-md-12">
        <img
          *ngIf="carForm.get('imageUrl').value"
          [src]="carForm.get('imageUrl').value"
          alt="Resim"
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="imageUrl" class="form-label">Image URL</label>
        <input
          type="text"
          id="imageUrl"
          class="form-control"
          formControlName="imageUrl"
        />
      </div>
      <div class="col-md-6">
        <label for="brand" class="form-label">Brand Name</label>
        <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedBrand" name="selectedBrand">
          <option selected>Open this select Brand</option>
          <option *ngFor="let brand of brands" [ngValue]="brand">{{brand.name}}</option>
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="plate" class="form-label">Plate</label>
        <input
          type="text"
          id="plate"
          class="form-control"
          formControlName="plate"
        />
      </div>
      <div class="col-md-6">
        <label for="dailyPrice" class="form-label">Daily Price</label>
        <input
          type="number"
          id="dailyPrice"
          class="form-control"
          formControlName="dailyPrice"
        />
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label for="modelName" class="form-label">Model Name</label>
        <input
          type="text"
          id="modelName"
          class="form-control"
          formControlName="modelName"
        />
      </div>
      <div class="col-md-6">
        <label for="modelYear" class="form-label">Model Year</label>
        <input
          type="number"
          id="modelYear"
          class="form-control"
          formControlName="modelYear"
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="form-label">State</label>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            id="underMaintenance"
            formControlName="state"
            [value]="3"
            (click)="setInitialState(3)"
          />
          <label class="form-check-label" for="underMaintenance"
            >Under Maintenance</label
          >
        </div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            id="rented"
            formControlName="state"
            [value]="2"
            (click)="setInitialState(2)"
          />
          <label class="form-check-label" for="rented">Rented</label>
        </div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            id="available"
            formControlName="state"
            [value]="1"
            (click)="setInitialState(1)"
          />
          <label class="form-check-label" for="available">Available</label>
        </div>
      </div>
      <div class="col-md-6">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </form>
</div>
