.show-details-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  cursor: pointer;
  font-size: 25px;
  color:blue ;
}
button.btn.btn-primary {
  float: right;
}
img.card-img-top {
  height: 157px;
}
.card {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  box-shadow: 0px 4px 6px rgb(0 0 0 / 25%);
}
.row.row-cols-1.row-cols-md-3.g-4 {
  padding-top: 20px;
}


.popup {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  width: 100%;
  z-index: 1000;
  position: absolute;
}